* {
    @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap') box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Martel Sans;
}

body {
    background-color: #000000;
}

.main {
    background-image: url(webassets/images/background.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 100%;
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
}

.mainContainer {
    width: 100%;
    height: 75vh;
    opacity: 0.66;
    background-color: #000000;
    top: 0;
    position: absolute;
}



.naBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 10px;
    padding: 24px;
    max-width: 63vw;
    margin: auto;
}

.image_Length {
    position: relative;
    height: 4.5vh;
    background-color: none;
    z-index: 10;
}

.sign {
    position: relative;
    z-index: 10;
}

.sign {
    padding: 7px 14px 7px 14px;
    background-color: red;
    color: #fff;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;
    font-weight: 700;
    border-color: rgba(0, 0, 0, 0);
}

.superClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    align-items: center;
    margin-top: 20vh;
    font-family: 'Times New Roman', Times, serif;
}

.superClass> :first-child {
    font-size: 44px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.superClass> :nth-child(2) {
    margin-top: 10px;
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.superClass> :nth-child(3) {
    margin-top: 25px;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.secondPagexx {
    background-color: #232323;
    padding: 2px;
    position: relative;
    z-index: 10;
}

.secondPagexx {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #232323;
}

.secondpage {
    background-color: #232323;
    padding: 2px;
    height: 5px;
    background-color: #232323;
}

.Register {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0.0625rem;
    padding: 10px 24px;
    letter-spacing: normal;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    min-height: 3.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    width: 100%;

}

.inputEmail {
    border-radius: 6px;
    width: 80%;
    height: 10px;
    padding: 20px 213px 30px 14px;
    line-height: 1.5;
    font-size: 0.8rem;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(119, 116, 116);

}

.inputEmail::placeholder {
    color: #ccc9ca;
    font-size: 16px;
    font-weight: 500;
}

.spacee {
    margin-left: 12px;
    font-weight: 400;
}

.divText>:first-child {
    font-size: 48px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.divText>:nth-child(2) {
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.firstSection {
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    color: white;
    position: relative;
}

.sectionContainer {
    position: relative;
}

.divText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80vw;
    gap: 20px;
}

.sectionContainer img {
    position: relative;
    z-index: 10;
    width: 30vw;
}

.sectionContainer video {
    top: 90px;
    position: absolute;
    left: 75px;
    right: 0;
    height: 12.4vw;
}

.styleee {
    white-space: pre-line;
}

.netflixFaq h2{
    font-size: 48px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.netflixFaq{
    height: 80vh;
    /* width: 100%; */
    padding: 40px;
    /* margin: auto; */
    margin-top: 20px;
}
.netflixFaq button{
    margin-top: 20px;
  border: none;
}
.netflixFaq span{
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.netflixFaqbtn:hover{
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: #4c4b4b;
}
.netflixFaqbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2d2d2d;
    margin: 10px auto;
    padding: 26px;
    max-width: 60vw;
  
}
.netflixFaq h3{
    margin-top: 50px;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}
.superClass1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    /* margin-top: 0; */
}
.superClass1 button{
    margin: 0px;
}