* {
    @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap') box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Martel Sans;
}

body {
    background-color: #000000;
}

/* header{
    margin-left: 120px;
 
} */

.main {
    background-image: url(webassets/images/background.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 100%;
    height: 70vh;
    /* margin-top: 0px; */
    position: relative;
    background-repeat: no-repeat;
    /* margin-left: 120px; */
}

.mainContainer {
    width: 100%;
    height: 75vh;
    /* margin: 122px; */
    opacity: 0.66;

    background-color: #000000;
    /* top: 0; */
    top: 0;
    position: absolute;
    /* margin: 120px; */
}



.naBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    align-items: center;
    margin-left: 10px;
    padding: 24px;
    max-width: 63vw;
    margin: auto;
}

.image_Length {
    /* display: flex; */
    position: relative;
    height: 4.5vh;
    /* color: #e50914; */
    background-color: none;
    z-index: 10;
}

.sign {
    /* color: aliceblue;? */
    /* opacity: 1; */
    position: relative;
    z-index: 10;
}

.sign {
    padding: 7px 14px 7px 14px;
    background-color: red;
    color: #fff;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;
    font-weight: 700;
    border-color: rgba(0, 0, 0, 0);
}

.superClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    /* z-index: 10; */
    align-items: center;
    margin-top: 20vh;
    /* align-content: center; */
    font-family: 'Times New Roman', Times, serif;
}

.superClass> :first-child {
    font-size: 44px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.superClass> :nth-child(2) {
    margin-top: 10px;
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.superClass> :nth-child(3) {
    margin-top: 25px;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.secondPagexx {
    background-color: #232323;
    padding: 2px;
    position: relative;
    z-index: 10;
 
}

.secondPagexx {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 5px;
 
    background-color: #232323;
}

.secondpage{

    background-color: #232323;
    padding: 2px;

    
    height: 5px;
 
    background-color: #232323;
}

/* .Register svg{
    margin-top: 125px;
} */
.Register {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* letter-spacing: 10px; */
}

.btn {
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0.0625rem;
    padding: 10px 24px;
    letter-spacing:normal;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    min-height: 3.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    width: 100%;

}

.inputEmail {
    /* border: rgb(255, 255, 255, ); */
    border-radius: 6px;
    width: 80%;
    height: 10px;
    padding: 20px 213px 30px 14px;
    line-height: 1.5;
    font-size: 0.8rem;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(119, 116, 116);
    
}
.inputEmail::placeholder{
    color: #ccc9ca;
    font-size: 16px;
    font-weight: 500;
}
.spacee{
    margin-left: 12px;
    /* font-size: 30px; */
    font-weight: 400;
}
.divText>:first-child{
    font-size: 48px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.divText>:nth-child(2){
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.firstSection{
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    color: white;
    position: relative;
}
.sectionContainer{
    position: relative;
}
.divText{
    /* font-family: ; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: left; */
    max-width: 80vw;
    gap: 20px;
}
.sectionContainer img{
    position: relative;
    z-index: 10;
    width: 30vw;
    /* text-align: start; */
}
.sectionContainer video{
    top: 90px;
    /* text-align: start; */

    position: absolute;
    left: 75px;
    right: 0;
    height: 12.4vw;
}
.styleee{
    white-space: pre-line;
}